{%extends "base.html" %} 
{%block content%} 

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('home')}}">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="36" height="30" class="d-inline-block align-text-top">
        MUJ {{msg}} Dashboard
    </a>
    <div class="d-flex align-items-center">
      <a href="{{ url_for('edit_user') }} "><i class="fa-solid fa-user fa-lg me-4" style="color: #0039d2;"></i></a>
      <a href="{{ url_for('logout') }}" class="btn btn-outline-danger">Logout</a>
    </div>
  </div>    
</nav>

{%block page%} 
{% endblock %}
{% endblock %}